---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.tourl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.tourl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | slice:0,90 }}...</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    {% for tag in post.description %}
    <span class="post-words"><a id={{ tag }} href="https://marshalord.github.io/CSC005/index.html#{{ tag }}">{{ tag }}</a></span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    {% endfor %}
  </div>
</article>
{% endfor %}

{% include pagination.html %}
