---
layout: main
---
<!--for post-->
{% for post in site.posts %}

<!--sday is current day-->
{% assign sday={{site.time|date:'%d'|abs}} %}

<!--the first day in every month can not minus 1-->
  {% if sday == 1 %}

<!--smonth is current month. symonth is last month-->
  {% assign smonth={{site.time|date:'%m'}} %}{% assign symonth={{smonth|abs}}|plus:-1%}
  {% case symonth %}
    {% when 1 %}
    {% assign syday=31%}
    {% when 2 %}
    {% assign syday=28%}
    {% when 3 %}
    {% assign syday=31%}
    {% when 4 %}
    {% assign syday=30%}  
    {% when 5 %}
    {% assign syday=31%}
    {% when 6 %}
    {% assign syday=30%}  
    {% when 7 %}
    {% assign syday=31%}
    {% when 8 %}
    {% assign syday=31%} 
    {% when 9 %}
    {% assign syday=30%}
    {% when 10 %}
    {% assign syday=31%}  
    {% when 11 %}
    {% assign syday=30%}
    {% when 12 %}
    {% assign syday=31%}
  {% endcase %}
<!--smonth is current month. symonth is last month-->
{% else %}
{% assign syday={{sday|abs}}|plus:-1%}
{% assign smonth={{site.time|date:'%m'}} %}{% assign symonth={{smonth|abs}}%}

<!--smonth is current month. symonth is last month-->
{% endif %}

<!--if month of post is current month-->
{% assign pmonth={{post.date|date:'%m'}} %}{% assign pymonth={{pmonth|abs}}%}
  {% if pymonth == symonth %}

<!--if day of post is current day-->
{% assign pday={{post.date|date:'%d'}} %}{% assign pyday={{pday|abs}}%}
  {% if pyday == syday %}

<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.selfurl | append : post.img}})" href="{{post.tourl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.tourl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords:55 | escape }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    {% for tag in post.tags %}
    <span class="post-words"><a href="{{site.selfurl}}tags/#{{ tag | cgi_escape}}">{{ tag }}</a></span>
    <span>&nbsp;&nbsp;</span>
    {% endfor %}
    <span class="post-download"><a href="https://raw.githubusercontent.com/Marshalord/CSC005/gh-pages/{{post.path}}" download="{{post.title}}" target="_blank">下载此信息</a></span>
  </div>
</article>

<!--if day of post is current day-->
{% else %}
{% continue %}
<!--if day of post is current day-->
{% endif %}

<!--if month of post is current month-->
{% else %}
{% continue %}
<!--if month of post is current month-->
{% endif %}

<!--for post-->
{% endfor %}

{% include pagination.html %}
