---
layout: main
title: CSC005
permalink: /passed/03/
---
{% for post in site.posts%}
{% assign sday={{site.time|date:'%d'}} %}{% assign syday={{sday|abs}}|plus:-3%}
{% assign pday={{post.date|date:'%d'}} %}{% assign pyday={{pday|abs}}%}
  {% if pyday == syday %}
  <article class="post">         

    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.selfurl | append : post.img}})" href="{{post.tourl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title"><a href="{{post.tourl}}">{{post.title}}</a></h2>
      <p>{{ post.content | strip_html | slice:0,90 }}...</p>
      <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
      {% for tag in post.tags %}
        <span class="post-words"><a href="{{site.selfurl}}tags/#{{ tag }}">{{ tag }}</a></span>
        <span>&nbsp;&nbsp;</span>
      {% endfor %}
    </div>

  </article>
  {% else %}
    {% continue %}
  {% endif %}
{% endfor %}


{% include pagination.html %}