---
layout: main
title: CSC005
permalink: /passed/02/
---
{% for post in site.posts%}

  {% assign sday={{site.time|date:'%d'|abs}} %}

  {% if sday < 4 %}
  {% assign smonth={{site.time|date:'%m'}} %}{% assign symonth={{smonth|abs}}|plus:-1%}
  {% case symonth %}
  {% when 1 %}
  {% assign syday={{sday}}|plus:28%}
  {% when 2 %}
  {% assign syday={{sday}}|plus:25%}
  {% when 3 %}
  {% assign syday={{sday}}|plus:28%}
  {% when 4 %}
  {% assign syday={{sday}}|plus:27%}  
  {% when 5 %}
  {% assign syday={{sday}}|plus:28%}
  {% when 6 %}
  {% assign syday={{sday}}|plus:27%}  
  {% when 7 %}
  {% assign syday={{sday}}|plus:28%}
  {% when 8 %}
  {% assign syday={{sday}}|plus:28%} 
  {% when 9 %}
  {% assign syday={{sday}}|plus:27%}
  {% when 10 %}
  {% assign syday={{sday}}|plus:28%}  
  {% when 11 %}
  {% assign syday={{sday}}|plus:27%}
  {% when 12 %}
  {% assign syday={{sday}}|plus:28%}
{% endcase %}

  {% else %}
  {% assign syday={{sday|abs}}|plus:-3%}
  {% assign smonth={{site.time|date:'%m'}} %}{% assign symonth={{smonth|abs}}%}
  {% endif %}
<div>{{symonth}}.{{syday}}</div>

<!--if month of post is current month-->
  {% assign pmonth={{post.date|date:'%m'}} %}{% assign pymonth={{pmonth|abs}}%}
  {% if pymonth == symonth %}

<!--if day of post is current day-->
  {% assign pday={{post.date|date:'%d'}} %}{% assign pyday={{pday|abs}}%}
    {% if pyday == syday %}
  <article class="post">         

    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.selfurl | append : post.img}})" href="{{post.tourl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title"><a href="{{post.tourl}}">{{post.title}}</a></h2>
      <p>{{ post.content | strip_html | slice:0,90 }}...</p>
      <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
      {% for tag in post.tags %}
        <span class="post-words"><a href="{{site.selfurl}}tags/#{{ tag }}">{{ tag }}</a></span>
        <span>&nbsp;&nbsp;</span>
      {% endfor %}
    </div>

  </article>

<!--if day of post is current day-->
  {% else %}
    {% continue %}
  {% endif %}

<!--if month of post is current month-->
{% else %}
{% continue %}
<!--if month of post is current month-->
{% endif %}

{% endfor %}

{% include pagination.html %}