---
layout: main
title: CSC005
permalink: /passed/
---
<script language="JavaScript" type="text/javascript">
  function GetDateStr(AddDayCount) {
      var dd = new Date();
      dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期
      var y = dd.getFullYear();
      var m = dd.getMonth()+1;//获取当前月份的日期
      var d = dd.getDate();
      return y+"-"+m+"-"+d;
  }
  </script>
{% for post in site.posts%}

<article class="post">
    <a><script>
        {% assign handle_date = GetDateStr(-1) %}
        {{handle_date}}-document.write(GetDateStr(-1));
          {% case {{post.date | date: '%Y-%m-%d'}} %}
            {% when handle_date %}
               This is a cake
            {% else %}
               This is not a cake nor a cookie
          {% endcase %}
          </script></a>
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.selfurl | append : post.img}})" href="{{post.tourl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.tourl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | slice:0,90 }}...</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    {% for tag in post.tags %}
    <span class="post-words"><a href="{{site.selfurl}}tags/#{{ tag }}">{{ tag }}</a></span>
    <span>&nbsp;&nbsp;</span>
    {% endfor %}
  </div>
</article>
{% endfor %}


