<script type="text/javascript" src="{{site.selfurl}}assets/js/script.js"></script> 
<script type="text/javascript" src="{{site.selfurl}}assets/js/tagCloud.js"></script> 
<script type="text/javascript" src="{{site.selfurl}}assets/js/tags.js"></script> 
 <link rel="stylesheet" href="{{site.selfurl}}assets/css/tagCloud.css">
 <link rel="stylesheet" href="{{site.selfurl}}assets/css/tags.css">
<div class="tagCloud">
    {% for tag in site.tags %}
    <a href="#{{ tag | first }}">{{ tag | first }}</a>
    {% endfor %}
</div>
