<script language="JavaScript" type="text/javascript">
  function GetDateStr(AddDayCount) {
      var dd = new Date();
      dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期
      var y = dd.getFullYear();
      var m = dd.getMonth()+1;//获取当前月份的日期
      var d = dd.getDate();
      return y+"-"+m+"-"+d;
  }
  </script>
<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      <p><span class="page-number" herf="{{site.selfurl}}passed/"><script>document.write(GetDateStr(-2));</script>
      </span></p>
    </ul>
  </nav>
</div>
